
.portfolio-section {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    margin: 100px;
}

.portfolio-title {
     font-size: 3rem;
    font-weight: bold;
    /* font-family: "Atomic Age", system-ui; */
    font-family: "Bungee Hairline", sans-serif;
    text-shadow: rgba(61, 152, 205, 0.8) 2px 2px 4px, rgba(227, 0, 151, 0.6) 4px 4px 8px, rgba(149, 5, 251, 0.4) 6px 6px 12px; /* Add a glow */
    z-index: 1;
    mix-blend-mode: lighten; /* Ensures text integrates with the glass effect */
}
/* 
.project-card {
    background: linear-gradient(135deg, #ff00ff, #00ffff);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.8);
}

.project-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.project-title {
    font-size: 1.5em;
    margin: 10px 0;
    color: #fff;
}

.project-description {
    font-size: 1em;
    color: #ddd;
}

.project-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background: #00ff00;
    color: #000;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
}

.project-link:hover {
    background: #ff00ff;
}

@keyframes neon {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.project-card {
    animation: neon 5s linear infinite;
} */


/* Responsive Design */
@media (max-width: 600px) {
    .portfolio-container {
        display: flex;
        justify-content: center;
        gap: 80px;
        margin: 100px;

flex-direction: column;

align-items: center;
    }
  }